* {
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.card {
  background-color: aliceblue;
  transition: 1s;
  font-size: 0.9em;
}

.card:hover {
  transform: scale(1.05);
}

#img-profile {
  height: 150px;
}
